
.page {
    height: 100%;
}

.top-title {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.sidebar {
    width: 200px;
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: bisque;
    align-content: flex-start;
    align-items: flex-start;
}

.sidebar img {

    margin: 10px;

}

.mosaic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color:blue;
}

.mosaic img {
    padding: 20px;
}

.footer {
    display: flex;
    width: 100%;
    background-color: blueviolet;
}
